# Dependencias
node_modules/

# Expo
.expo/
dist/
web-build/

# Variables de entorno (nunca subir al repo)
.env
.env.local
.env*.local

# EAS / builds
*.apk
*.aab
*.ipa

# Logs
npm-debug.*
yarn-debug.*
yarn-error.*

# Sistema operativo
.DS_Store
Thumbs.db

# Editor
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
